{% extends 'main/base.html' %}

{% block title %}Catálogo de Libros{% endblock %}
{% load static %}
{% block content %}
<h1 class="mt-4" data-aos="fade-up">Catálogo de Libros</h1>
<table class="table table-striped mt-4" data-aos="fade-up">
    <thead>
        <tr>
            <th>Título</th>
            <th>Año de Publicación</th>
            <th>Autor</th>
            <th>Categoría</th>
            <th>Acciones</th>  <!-- Nuevo encabezado para acciones -->
        </tr>
    </thead>
    <tbody>
        {% for libro in libros %}
        <tr>
            <td>{{ libro.titulo }}</td>
            <td>{{ libro.anio_publicacion }}</td>
            <td>{{ libro.autor.nombre }}</td>
            <td>{{ libro.categoria.nombre }}</td>
            <td>
                <button class="btn btn-primary btn-sm" onclick="agregarAlCarrito({{ libro.id }})">
                    <img src="{% static 'img/carrito.png' %}" alt="Agregar al carrito">
                   
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function agregarAlCarrito(libroId) {
        // Aquí puedes agregar la lógica para agregar el libro al carrito
        alert(`Libro con ID ${libroId} agregado al carrito.`);
        $.ajax({
         url: '/agregar-al-carrito/',
         method: 'POST',
          data: {
              libro_id: libroId
          },
          success: function(response) {
             // Manejar la respuesta del servidor si es necesario
         },
          error: function(error) {
              console.error('Error al agregar el libro al carrito:', error);
          }
      });
    }
</script>
{% endblock %}
