{% extends 'main/base.html' %}

{% block title %}Catálogo de Libros{% endblock %}
{% load static %}
{% block content %}
<h1 class="mt-4" data-aos="fade-up">Catálogo de Libros</h1>
<table class="table table-striped mt-4" data-aos="fade-up">
    <thead>
        <tr>
            <th>Título</th>
            <th>Año de Publicación</th>
            <th>Autor</th>
            <th>Categoría</th>
            <th>Acciones</th> 
        </tr>
    </thead>
    <tbody>
        {% for libro in libros %}
        <tr>
            <td>{{ libro.titulo }}</td>
            <td>{{ libro.anio_publicacion }}</td>
            <td>{{ libro.autor.nombre }}</td>
            <td>{{ libro.categoria.nombre }}</td>
            <td>
                <button class="btn btn-primary btn-sm btn-carrito" onclick="agregarAlCarrito({{ libro.id }})">
                    <img src="{% static 'images/cart.svg' %}" alt="Carrito">
                    Agregar al Carrito
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function agregarAlCarrito(libroId) {
        $.ajax({
            url: '{% url "agregar_al_carrito" %}',
            method: 'POST',
            data: {
                libro_id: libroId,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                Swal.fire({
                    title: "¡Buen trabajo!",
                    text: response.message,
                    icon: "success"
                });
            },
            error: function(error) {
                console.error('Error al agregar el libro al carrito:', error);
                Swal.fire({
                    title: "Error",
                    text: "Hubo un problema al agregar el libro al carrito.",
                    icon: "error"
                });
            }
        });
    }
</script>
{% endblock %}
